<div class="header">
    <div class="flex items-center justify-between">
        <div class="header_logo"> <img src="../../../../assets/icons/total-scope.png" alt="total-scope"></div>
        <div class="nav-bar">
            <kendo-menu class="kendo-navbar" (select)="onSelect($event)"[items]="items"></kendo-menu>
        </div>
        <div class="flex items-center">
            <button class="login-btn">
                Login
              </button>
            <button class="signup-btn">
                Register  <img src="../../../assets/icons/right-arrow.svg" alt="">
              </button>
        </div>
    </div>
</div>


