<div class="py-4 footer-wrapper">
    <div class="flex items-center justify-between">
        <div class="flex items-center justify-between">
            <div class="mr-8 flex items-center"><img src="../../../../assets/icons/message.svg" alt=""><p class="font-semibold ml-2">contact@totalscope.com</p></div>
            <div class="flex items-center"><img src="../../../../assets/icons/phone.svg" alt=""><p class="font-semibold ml-2">(720)307-2795</p></div>
        </div>
        <div class="font-semibold">@ 2023 TotalScope | All Rights Reserved</div>
    </div>
</div>