/* FOOTER WRAPPER */
.footer-wrapper {
    border-top: 2px solid var(--blue-grey-light, #F2F8FD);
    padding: 15.5px 32px 13.5px 30.276px;
    height: 53px;

    /* COMMON TEXT */
    .common-text {
        color: var(--black, #303030);
        text-align: right;
        font-family: AvenirNext forINTUIT;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }

    /* EMAIL WRAPPER */
    .email-wrapper {
        margin-right: 19px;
    }
}