<div class="footer-wrapper">
    <div class="flex items-center justify-between">
        <div class="flex items-center justify-between">
            <div class="email-wrapper flex items-center"><img src="../../../../assets/icons/message.svg" alt=""><p class="common-text ml-1">contact@totalscope.com</p></div>
            <div class="flex items-center"><img src="../../../../assets/icons/phone.svg" alt=""><p class="common-text ml-1">(720)307-2795</p></div>
        </div>
        <div class="common-text">@ 2023 TotalScope | All Rights Reserved</div>
    </div>
</div>