/* CONTENT SECTION */
.content-section {
  display: flex;
  padding: 5.5px 33px 10.1px 31.734px;
  justify-content: space-between;
  align-items: center;
  background: var(--white, #fff);

  /* TITLE */
  .title {
    color: var(--black, #303030);
    font-family: AvenirNext forINTUIT;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    margin-top: 51.19px;
    width: 297px;
    height: 100px;
  }

  /* CONTENT */
  .content {
    display: flex;
    width: 430.268px;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--black, #303030);
    font-family: AvenirNext forINTUIT;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    margin-top: 21.09px;
  }

  /* ESTIMATE PARAGRAPH */
  .estimate-paragraph {
    margin-top: 48.73px;
    max-width: 438px;

    /* IMAGE */
    img {
      width: 24px;
      height: 24px;
    }

    /* PARAGRAPH */
    p {
      color: var(--black, #303030);
      font-family: AvenirNext forINTUIT;
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      line-height: 22px;
    }
  }

  /* GET STARTED */
  .get-started {
    display: flex;
    width: 178px;
    height: 48px;
    padding: 12px 31.5px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 48px;
    background: var(--blue, #306fd5);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
    color: var(--white, #fff);
    font-family: AvenirNext forINTUIT;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
  }

  /* SECTION WRAPPER */
  .section-wrapper {
    display: flex;
    height: 245px;
    align-items: end;
    justify-content: space-between;

    /* SECTION TITLE */
    .section-title {
      display: flex;
      width: 422.5px;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      color: var(--black, #303030);
      font-family: AvenirNext forINTUIT;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 34px;
      margin-bottom: 18px;
    }

    /* DESCRIPTION WRAPPER */
    .icon-description-wrapper {
      gap: 24px;

      /* DESCRIPTION WRAPPER DIV */
      div {
        display: grid;
        grid-template-columns: 100%;
        gap: 17px;

        /* DESCRIPTION WRAPPER IMAGE */
        img {
          width: 64px;
          height: 64px;
        }

        /* DESCRIPTION WRAPPER PARAGRAPH */
        p {
          color: var(--black, #303030);
          font-family: AvenirNext forINTUIT;
          font-size: 17px;
          font-style: normal;
          font-weight: 600;
          line-height: 22px;
          display: flex;
          width: 180.704px;
          flex-direction: column;
          flex-shrink: 0;
          width: 180px;
        }
      }
    }
  }
}