<div class="content-section">
  <div>
    <div class="home-header grid grid-cols-2">
      <div>
        <div>
          <h1 class="title">
            The future <br />
            of Estimating
          </h1>
          <p class="content">
            Your time is money, and we respect that. Register your company,
            install our mobile app, or log in on our web portal.
          </p>
          <div class="flex items-center justify-end estimate-paragraph">
            <img src="../../../assets/icons/check.svg" alt="" />
            <p class="ml-2 text-lg font-semibold">
              Your first estimate is free
            </p>
          </div>
          <button class="get-started">
            Get started
            <img src="../../../assets/icons/right-arrow.svg" alt="" />
          </button>
        </div>
      </div>
      <div class="flex justify-end">
        <img src="../../../assets/icons/Video.png" alt="" />
      </div>
    </div>
    <section class="flex mb-4 mt-2 pt-2">
      <div class="">
        <h1 class="font-semibold text-2xl max-w-sm mb-8">
          Estimates that save you time and communication with the carrier
        </h1>
        <div class="grid grid-cols-5 gap-6">
          <div>
            <img src="../../../assets/icons/message with bar.svg" alt="" />
            <p class="font-semibold mt-4">
              The most acurate and documented estimates in the industry
            </p>
          </div>
          <div>
            <img src="../../../assets/icons/DNA.svg" alt="" />
            <p class="font-semibold mt-4">
              Representation of the full scope of the project
            </p>
          </div>
          <div>
            <img src="../../../assets/icons/clock.svg" alt="" />
            <p class="font-semibold mt-4">
              Time-saving estimates and communication with the carrier
            </p>
          </div>
          <div>
            <img src="../../../assets/icons/pencil.svg" alt="" />
            <p class="font-semibold mt-4">Prper project valuation</p>
          </div>
          <div>
            <img src="../../../assets/icons/gear.svg" alt="" />
            <p class="font-semibold mt-4">
              Automated process management with our free app
            </p>
          </div>
        </div>
      </div>
      <div class="w-1/3 ml-12">
        <img src="../../../assets/icons/qr-code.png" alt="" />
      </div>
    </section>
  </div>
</div>
