<div class="content-section">
  <div class="w-full">
    <!-- Main Feature  -->
    <div class="home-header grid grid-cols-2">
      <div>
        <div>
          <h1 class="title">
            The future <br />
            of Estimating
          </h1>
          <p class="content">
            Your time is money, and we respect that. Register your company,
            install our mobile app, or log in on our web portal.
          </p>
          <div class="flex items-center justify-end estimate-paragraph">
            <img src="assets/icons/check.svg" alt="" />
            <p class="ml-2 text-lg font-semibold">
              Your first estimate is free
            </p>
          </div>
          <button class="get-started">
            Get started
            <img src="assets/icons/right-arrow.svg" alt="" />
          </button>
        </div>
      </div>

      <!-- Video -->
      <div class="flex justify-end">
        <img src="assets/icons/Video.png" alt="" />
      </div>
    </div>

    <!-- Features Section -->
    <section class="section-wrapper">
      <div class="flex flex-col">
        <h2 class="section-title">
          Estimates that save you time and communication with the carrier
        </h2>
        <div class="grid grid-cols-5 icon-description-wrapper">
          <div>
            <img src="assets/icons/message with bar.svg" alt="" />
            <p class="">
              The most acurate and documented estimates in the industry
            </p>
          </div>
          <div>
            <img src="assets/icons/DNA.svg" alt="" />
            <p class="">Representation of the full scope of the project</p>
          </div>
          <div>
            <img src="assets/icons/clock.svg" alt="" />
            <p class="">
              Time-saving estimates and communication with the carrier
            </p>
          </div>
          <div>
            <img src="assets/icons/pencil.svg" alt="" />
            <p class="">Prper project valuation</p>
          </div>
          <div>
            <img src="assets/icons/gear.svg" alt="" />
            <p class="">Automated process management with our free app</p>
          </div>
        </div>
      </div>
      <div>
        <img src="assets/icons/qr-code.png" alt="" />
      </div>
    </section>
  </div>
</div>
